apiVersion: v1
kind: Service
metadata:
  name: {{ include "restinthemiddle.fullname" . }}
  labels:
    {{- include "restinthemiddle.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - appProtocol: http
      name: listen-port
      port: {{ .Values.service.portOverride | default .Values.config.listenPort }}
      targetPort: listen-port
      protocol: TCP
  selector:
    {{- include "restinthemiddle.selectorLabels" . | nindent 4 }}
