namespace: default
applicationName: restinthemiddle

image:
  registry: docker.io
  repository: jdschulze/restinthemiddle
  pullPolicy: IfNotPresent
  # -- Restinthemiddle container image tag
  tag: "v2.3.3"

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

config:
  # -- Exclude requests that match this URL RegEx
  exclude: ""
  # -- Do not log the Request body if the URL path matches this RegEx
  excludePostBody: ""
  # -- Do not log the Response body if the URL path matches this RegEx
  excludeResponseBody: ""
  headers: {}
  # -- Usually you should not change this value
  listenIp: 0.0.0.0
  # -- Non-privileged ports only! Use service.portOverride if you want to use a privileged port.
  listenPort: "8000"
  # -- Log the Request body
  logPostBody: true
  # -- Log the Response body (if it is not chunked)
  logResponseBody: true
  # -- You know, for Logging
  loggingEnabled: true
  # -- Add an X-Request-Id header if not already present
  setRequestId: false
  # -- The target's URL (mandatory). Example: https://username:password@example.com:4443/example/path
  targetHostDsn: ""
  # -- Please refer to the net/http.Server documentation and check the recommendations in the restinthemiddle README
  readTimeout: 0
  # -- Please refer to the net/http.Server documentation and check the recommendations in the restinthemiddle README
  readHeaderTimeout: 0
  # -- Please refer to the net/http.Server documentation and check the recommendations in the restinthemiddle README
  writeTimeout: 0
  # -- Please refer to the net/http.Server documentation and check the recommendations in the restinthemiddle README
  idleTimeout: 0

serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations: {}

podLabels: {}

podSecurityContext:
  fsGroup: 1000
  runAsUser: 1000
  runAsGroup: 1000

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000

service:
  type: ClusterIP
  # -- Use this only if you have to override config.listenPort because you want to use a privileged port.
  portOverride: ""

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: restinthemiddle.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
#    - secretName: restinthemiddle-tls
#      hosts:
#        - restinthemiddle.local

# -- Adjust those values to your needs. These values are only suggestions!
resources:
  limits:
    cpu: 100m
    memory: 64Mi
  requests:
    cpu: 10m
    memory: 32Mi

autoscaling:
  # -- Handle with care! Autoscaling will make sense only if you have centralized logging.
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
#  targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

# -- Leave this at 1 if you do not have centralized logging.
replicaCount: 1
